@import "tailwindcss";

@theme {
  --color-primary: #7b29e0;
  --color-background-light: #f7f6f8;
  --color-background-dark: #181121;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  min-height: max(884px, 100dvh);
}
